/*Common*/
.big-word{
	font-size: 160px;
	color: rgba(103,114,229,0.1);
	position: absolute;
	font-weight: 700;
	user-select: none;
}
/*About*/
.homepage-about .heading{
	font-size: 34px;
	font-weight: 300;
	padding-bottom: 32px;
	margin-bottom: 32px;
}
.homepage-about .heading:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom:0;
	width: 40px;
	height: 4px;
	background-color: #6772e5;
}

.homepage-about .para{
	margin-bottom: 24px;
}
.homepage-about .big-word{
	top: -160px;
	right: -240px;
}
/*Service*/
.homepage-service .card{
	padding:40px;
	text-align: center;
}

.homepage-service .icon{
	font-size: 64px;
	color: #6772e5;
	text-align:center;
}
.homepage-service .heading{
	color: #6772e5;
	margin-bottom: 24px;
}
.homepage-service .btn-group{
	margin-top: 48px;
}
.homepage-service .big-word{
	top: -160px;
	left: -120px;
}
/*Project*/
.homepage-project .project-item:not(:last-child){
	margin-bottom: 160px;
}
.homepage-project .project-item .heading{
	font-size: 48px;
	font-weight: 300;
	white-space: nowrap;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-shadow: 2px 10px 8px rgba(103, 114, 229, 0.25);

}
.homepage-project .project-item .heading:after{
	content: "";
	display: block;
	width: 64px;
	height: 4px;
	background-color: #6772e5;
	position: absolute;
	bottom: 0;
	left: 0;
}
.homepage-project .project-item .heading--left{
	margin-left: -64px;
}

.homepage-project .project-item .para{
	margin-bottom: 24px;
}
.homepage-project .big-word{
	top: -160px;
	right: -240px;
}
	
/*Designer*/
.homepage-designer .card{
	text-align: center;
	padding: 48px;
	height: 100%;
}

.homepage-designer .avatar{
	margin-bottom: 16px;
}
.homepage-designer .heading{
	margin-bottom: 16px;
}

.homepage-designer .para{
	margin-bottom: 16px;
}
.homepage-designer .big-word{
	left: -240px;
	top: -160px;
	
}
/*Quote*/

/*Contact*/