.about-title,.team-title{
	text-align: center;
}
.image-container{
	width: 100%;
	display: block;
	position: relative;	
}
.image-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 75%;
	background-color: #B2BAC4;
}
.about-image{
	/*border: 1px solid #000;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.about-heading{
	font-size: 48px;
}
.about-para{
	font-size: 20px;
	line-height:24px;
}

.avatar{
	display:block;
	width: 100%;
	border-radius: 50%;
	background-color:#B2BAC4; 

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.avatar:after{
	content: '';
	width: 100%;
	display: block;
	padding-top: 100%;
}

.avatar--md{
	width: 250px;
}

.avatar-heading{
	font-size: 32px;
	text-align: center;
	color: #686C71;

}

.avatar-para{
	font-size: 20px;
	text-align: center;
}