/**
 * Component
 * Copyright2018
 * Author
 * License
 */

/*------------------------------------*\
    Content
\*------------------------------------*/

/**
 * Content
 * Button
 * Avatar
 * Image
 * Card
 * Navigation
 * Jumbotron
 * Hero
 * Footer
 */

/*Button*/
.btn{
	/* structure */
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0;
	height: 36px;
	line-height: 36px;
	padding: 0 32px;
	min-width: 64px;
    box-sizing: border-box;
	/* style */
	font-size: 16px;
	text-align: center;
	font-weight: 300;
 	font-family: Helvetica,Arial,"Noto Sans TC","Helvetica Neue","微軟正黑體","Microsoft JhengHei",PMingLiU,sans-serif;
	letter-spacing: 0;
	text-transform: uppercase;
	text-decoration: none;
	color: #6772e5;
	background-color: #fbfbfb;
	border: 0;
	border-radius: 22px;
	outline: none;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	/* interact */
	cursor: pointer;
	overflow: hidden;
	-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-user-drag: none;
    transition: all .15s ease;
}
.btn--hover,
.btn:hover{
	color: #7795f8;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn--active,
.btn:active{
	color: #555abf;
    background-color: #f6f9fc;
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn.btn--primary,
.btn.btn--secondary,
.btn.btn--positive,
.btn.btn--negative,
.btn.btn--alert{
	color: #fbfbfb;
}
.btn.btn--primary{
	background-color: #3ecf8e;
}
.btn.btn--primary.btn--hover,
.btn.btn--primary:hover{
	background-color: #53e8a5;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--primary.btn--active,
.btn.btn--primary:active{
	background-color: #30ba7c;
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 6px rgba(0,0,0,.08);
}
.btn.btn--secondary{
	background-color: #6772e5;
}
.btn.btn--secondary.btn--hover,
.btn.btn--secondary:hover{
	background-color: #7795f8;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--secondary.btn--active,
.btn.btn--secondary:active{
	background-color: #555abf;
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 6px rgba(0,0,0,.08);
}
.btn.btn--positive{
	background-color: #00BB91;
}
.btn.btn--positive.btn--hover,
.btn.btn--positive:hover{
	background-color: #00d1a2;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--positive.btn--active,
.btn.btn--positive:active{
	background-color: #01a580;
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 6px rgba(0,0,0,.08);
}
.btn.btn--negative{
	background-color: #f84545;
}
.btn.btn--negative.btn--hover,
.btn.btn--negative:hover{
	background-color: #f46161;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--negative.btn--active,
.btn.btn--negative:active{
	background-color: #d63b3b;
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 6px rgba(0,0,0,.08);
}
.btn.btn--alert{
	background-color: #f7ba36;
}
.btn.btn--alert.btn--hover,
.btn.btn--alert:hover{
	background-color: #ffcb5b;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--alert.btn--active,
.btn.btn--alert:active{
	background-color: #d8a22f;
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 6px rgba(0,0,0,.08);
}
.btn--disabled,
.btn--disabled:hover,
.btn--disabled:active,
.btn--disabled:focus{
	color: #686C71 !important;
	pointer-events: none;
	background-color: #B2BAC4 !important;
}
/* Size */
.btn.btn--lg{
	font-size: 16px;
	line-height: 56px;
	height: 56px;
	font-weight: 400;
	border-radius: 28px;
}
.btn.btn--md{
	font-size: 16px;
	line-height: 44px;
	height: 44px;
}
.btn.btn--sm{
	font-size: 13px;
	line-height: 32px;
	height: 32px;
	padding: 0 16px;
}
/*------------------------------------*\
    Image
\*------------------------------------*/
.img-container{
	width: 100%;
	display: block;
	position: relative;
}
.img-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 75%;
	background-color: #B2BAC4;
}
.img-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}



/*Navigation*/
.nabar{
	position: fixed;
	top: 0;
	left: 0;
	height: 64px;
}

.navbar__brand{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.navbar >.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__nav{
	/*border: 1px solid red;*/
	display: flex;
}

.nav__item{
	/*border: 1px solid blue;*/
}

.nav__link{
	color: #40414f;
	line-height: 24px;
	padding-left: 16px;
	padding-right: 16px;
}

/*Jumobtron*/
.jumbotron{

}

.jumbotron__image{
	/*border: 1px solid blue;*/
	width: 100%;
	height: 75vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.jumbotron__content{
	/*border: 1px solid red;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	text-align: center;
	display: flex;
}

.jumbotron__heading{
	color: #40414f;
	font-size: 80px;
	font-weight: 800;
	margin-bottom: 20px;
}

.jumbotron__para{
	color: #40414f;
	font-size: 32px;
	font-weight: 400;
}

/*about*/
.about__heading{
	color: #40414f;
	font-size: 48px;
	font-weight: 400;
}

.about__para{
	color: #40414f;
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;

	margin-top: 20px;
}

.about__images{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/*video-1*/
.video-1-img-container{
	width: 100%;
	display: block;
	position: relative;
}
.video-1__image{
	width: 50%;
	height: 70vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.video-1__heading{
	color: #40414f;
	font-size: 64px;
	font-weight: 800;
	margin-bottom: 20px;
}

.video-1__para{
	color: #40414f;
	font-size: 28px;
	font-weight: 400;
}
.video-1__content{
	position: absolute;
	top:20%;
	left:25%;
	padding:20px;
}

/*------------------------------------*\
    Card
\*------------------------------------*/
.card{
	background-color: #fbfbfb;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	border-radius: 4px;
	overflow: hidden;
}

.card__nav{
	display: flex;
	justify-content: center;
}
.card__item{
	
}

.card__link{
	display: inline-block;
	color:#40414f;
	margin:0 30px;
}

.card__link:hover{
	color: blue;
}
.card__body{
	padding: 16px;
}
.card__title{
	margin-bottom: 16px;
	margin-top: 8px;
	font-size: 20px;
	color: #686C71;
	font-weight: 800;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.card__description{
	font-size: 16px;
	line-height: 24px;
	height: 70px;
	overflow: hidden;
	color: #686C71;
	text-align: justify;
	/*border: 1px solid #000;*/
}
.card__btn{
	margin-top: 16px;
}

