*{
	box-sizing: border-box;
	position: relative;.
}
/*做wrapper是為了防止作屬性時做到html及body上*/

.section1{
	height: 600px;
	background-color: #ccc;
}

.section2{
	height: 600px;
	background-color: #333;
}

.section3{
	height: 600px;
	background-color: #fff;
}

.section4{
	height: 600px;
	background-color:  #ff0061;
}
.box{
	width: 100px;
	height: 100px;
	background-color: white;
    /*設定圓角*/
	border-radius: 50%;

	position:absolute;
	left: 40%;
	top: 40%; 

	/*transform: translateY(50%);
	transform: rotate(30deg);
	transform: skew(40deg);*/
	/*transform: skew(40deg) scale(50%);*/

	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%,-50%);
	transition: all 0.3s;
}

/*伪類選擇器的寫法*/
.box:hover{
	width: 100%;
	height: 100%;
	border-radius: 0;
}

.box:active{
	background-color: #000;
}

.btn{
	display: inline-block;
	background-color: #39e586;
	color:#fff;
	padding:0 24px;
	line-height: 48px;
	border-radius: 4px;
	text-decoration: none;
	font-family: '微軟正黑體';
	font-weight: 800;

	position: absolute;
	left:50%;
	transform: translate(-50%,0);
	margin-top: 300px;
	transition: all 0.3s;
	border-bottom: 0px solid #279e5c;
}

.btn:hover{
	border-bottom: 8px solid #279e5c;
	transform: translate(-50%,-8px);
}

.btn:active{
	border-bottom: 0px solid #279e5c;
	transform: translate(-50%, 0);
	background-color: #279e5c;
	transition: all 0.05s;
}

.btn1{
	display: inline-block;
	color: #000;
	text-decoration: none;
	font-family: '微軟正黑體';
	font-size: 32px;
	line-height: 80px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.btn1:before{
	content: " ";
	display:block;
	height: 5px;
	width: 0px;
	background-color: #000;

	position: absolute;
	left:  0;
	top:  0;
	transition:  all 0.3s;
}

.btn1:hover{
	color: #ff0061;
}
.btn1:after{
	content: " ";
	display:block;
	height: 5px;
	width:0px;
	background-color: #000;

	position: absolute;
	right: 0;
	bottom: 0;
	transition: all 0.3s;
}

.btn1:hover:before{
	width: 100%;
	background-color: #ff0061;
}

.btn1:hover:after{
	width: 100%;
	background-color: #ff0061;

}
